{
	"root": true,
	"extends": [
		"eslint:recommended", // основное
		"plugin:vue/recommended" // самое строгое vue
	],
	"globals": {
		"fn": true,
		"google": true
	},
	"env": {
		"browser": true,
		"commonjs": true,
		"es6": true,
		"jquery": true
	},
	"parserOptions": {
		"sourceType": "module",
		"allowImportExportEverywhere": true
	},
	"rules": {
		"indent": [1, "tab"], // Величина отступа 1 TAB
		"linebreak-style": ["error", "windows"], // правильный перевод строки для Windows 'CRLF', для unix 'LF'
		"no-console": "off", // разрешить консоль
		"no-unused-vars": [0], // отключить проверку неиспользуемых переменных
		"space-before-blocks": 1, // отступ перед блоками
		"keyword-spacing": ["warn", { "after": true }], // отступ после ключевых слов
		"space-infix-ops": "warn", // пробелы между знаком равно
		"key-spacing": ["warn", { "afterColon": true }], //
		"no-tabs": 0, // разрешить табы
		"quotes": [2, "single"], // двойные кавычки для строки
		"no-use-before-define": "warn", // нельзя использовать переменные перед объявлением
		"operator-assignment": 0,
		"prefer-template": 0,
		"brace-style": ["error", "1tbs", { "allowSingleLine": true }],
		// vue rules
		"no-mixed-spaces-and-tabs": "off", // запретить смешанные отступы из табов и пробелов
		"vue/html-indent": [1, "tab"], // отсутпы для vue файлов
		"vue/max-attributes-per-line": [
			4,
			{
				"singleline": 4,
				"multiline": {
					"max": 1,
					"allowFirstLine": true
				}
			}
		],
		"vue/singleline-html-element-content-newline": 0, // каждый элемент на новой строке
		"vue/no-v-html": 0, //разрешить вставку сврого html в vue файлах
		"vue/html-self-closing": 0, // не закрывать одиночные теги делать два тега вместо одного закрытого
		"vue/component-name-in-template-casing": 0, // разрешить snake-case
		"vue/multiline-html-element-content-newline": 0,
		"vue/require-prop-types": 0,
		"vue/prop-name-casing": 0,
		"vue/attribute-hyphenation": 0 // enforce attribute naming style on custom components in template
	}
}
