AddDefaultCharset utf-8
Options All -ExecCGI -Indexes -Includes +FollowSymLinks

# включение директив php
php_value	magic_quotes_gpc	On
php_value	display_errors	On

RewriteEngine On  

	#редирект на без www
	#локально
	RewriteCond %{HTTP_HOST} ^www.loc_ammity_vue.ru.ru$ [NC]
	RewriteRule ^(.*)$ http://loc_ammity_vue.ru.ru/$1 [R=301,L]
	#интернет
	RewriteCond %{HTTP_HOST} ^www.ammity-vue.likeuse.ru$ [NC]
	RewriteRule ^(.*)$ http://ammity-vue.likeuse.ru/$1 [R=301,L]
  
	# роутинг на index.html
	RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !index
    RewriteRule (.*) index.html [L]
